<% if @message_to_user.present? %>
<p>You are now talking with <b><u id="messaging_with"><%= @message_to_user.nickname %></u></b></p>
<div class="message-box">
  <div class="message-box-height">

    <div style="margin: 10px 5px">
      <a style="cursor: pointer" id="show_more_messages">show more message</a>
      </div>

    <div class="message-show-box">
      <%= render "messages/messages" %>
    </div>
    <div id="message_seen_status" >
      <% if @messages.present? && @messages.last.seen_status == true && @messages.last.message_from_id == current_user.id %>
        <p class="seen-status-style">seen <%= @messages.last.seen_at.strftime("%X %d/%m") %></p>
      <% end %>
    </div>
  </div>
  <div class="message-new-box">
    <div class="row">
      <div class="col-md-8 col-sm-10">
        <textarea placeholder="write a reply" id="message_textarea" class="message-textarea"></textarea>
      </div>
      <div class="col-md-4 col-sm-2" style="padding-left:0px !important">
        <div id="thumb_up" style="cursor: pointer; width: 20px">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </div>
        <button id="submit_message" message_to_id="<%= @message_to_user.id %>" class="submit-message-style">send</button>
        Press enter to send: <input type="checkbox" id="submit_by_enter">
      </div>
    </div>
  </div>
</div>
<% end %>
