
<div class="row">
  <div class="col-md-12">
    <h4 class="search-result-title">Albums</h4>
    <div class="search-result-album-box">
      <%= render "shared/create_album_box" %>
    </div>
    <% if @albums.present? %>
    <div class="load-more-margin align-center">
      <button id="load_more_albums_search" class="load-more-button">Load more</button>
    </div>
    <% end %>
  </div>
</div>
