
<div class="album-show-background">
  <div class="album-show-space">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="albums-all-box">
          <%= render 'shared/create_album_box' %>
        </div>
      </div>
    </div>
  </div>
</div>
